html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-1 {
  float: left;
  width: 40px;
  margin: 0;
  padding: 0;
}

.img-2 {
  float: right;
  width: 40px;
  padding: 0;
}

header {
  background-color: #d05c2e;
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin 0;
  padding: .5em 0 0;
}

ul {
  color: #fff;
  list-style-type: none;
  font-size: 1.125rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 0;
  padding: .7em 1em .7em 1em;
  float: left;
  width: 33.33%;
  border: 1.5px solid #a63f38;
}

body {
  text-align: center;
  margin: 0;
  color: #d05c2e;
}

- *Text sizes:* `2rem`, `1.125rem`
- *Line height:* `1.5`
- *Colours:* `#d05c2e`, `#a63f38`
- *Margins:* `0`, `0 0 .7rem`, `.3rem`
- *Paddings:* `0`, `.5em 0 0`, `.4rem 0`
- *Grain icon width:* `40px`
